
#main {
    float: left;
    margin: 0 5%;
    width: 60%;
    background-color:lightpink;
}
#extras {
    width: 25%;
    margin: 0 5% 0 0;
    float: left;
    background-color:lightsalmon;
    
}

#footer {
    clear: left;
    background-color: indianred;

}

#header {
    background-color: indianred;
}