<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discografia - 5 Seconds of Summer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <h2 class="text-2xl font-bold text-red-600 mb-4">
            Discografia
           </h2>
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <div class=" row text-center">
        <div class="col-md-3">
            <img src="images/album5sos52022.jpg" alt="5SOS5" class="mx-auto mb-2" height="200" width="200">
            <p>5SOS5</p>
        </div>
        <div class=" col-md-3">
            <img src="images/album5soscalm2020.jpg" alt="Calm" class="mx-auto mb-2" height="200" width="200">
            <p>Calm</p>
        </div>
        <div class="col-md-3">
            <img src="images/album5sostfof2023.jpg" alt="The Feeling of Falling Upwards" class="mx-auto mb-2" height="200" width="200">
            <p>The Feeling of Falling Upwards</p>
        </div>
        <div class="col-md-3">
            <img src="images/album5sosyb2018.webp" alt="YoungBlood" class="mx-auto mb-2" height="200" width="200">
            <p>YoungBlood</p>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
