<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Seconds of Summer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <h1>5 Seconds of Summer</h1>
        <p>Bem-vindo ao site oficial da banda 5 Seconds of Summer!</p>
    </header>

    <div class="container my-5">
        <a href="/blog" class="btn btn-primary">Ver Posts</a>
        <a href="/discografia" class="btn btn-secondary">Discografia</a>
        <a href="/integrantes" class="btn btn-info">Integrantes</a>
        <a href="/agenda" class="btn btn-success">Agenda</a>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
