<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes - 5 Seconds of Summer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header style="background-color: #333; color: white; padding: 20px; text-align: center;">
        <h1>Conheça os Integrantes da Banda 5 Seconds of Summer</h1>
        <nav>
            <a href="/" style="color: white; margin: 10px;">Home</a>
            <a href="/discografia" style="color: white; margin: 10px;">Discografia</a>
            <a href="/agenda" style="color: white; margin: 10px;">Agenda</a>
        </nav>
    </header>

    <div class="container my-5">
        
        <h2>Os Integrantes</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="integrante">
                    <img src="/images/fotoluke.jpeg" alt="Integrante 1" class="img-fluid">
                    <h4>Luke Hemmings</h4>
                    <p>Vocal e Guitarra</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="integrante">
                    <img src="/images/fotomike.jpeg" alt="Integrante 2" class="img-fluid">
                    <h4>Michael Clifford</h4>
                    <p>Guitarra e Vocal</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="integrante">
                    <img src="/images/fotocalum.jpeg" alt="Integrante 3" class="img-fluid">
                    <h4>Calum Hood</h4>
                    <p>Baixo e Vocal</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="integrante">
                    <img src="/images/fotoashton.jpeg" alt="Integrante 4" class="img-fluid">
                    <h4>Aston Irwin</h4>
                    <p>Bateria e Vocal</p>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #333; color: white; padding: 20px; text-align: center;">
        <p>&copy; 2025 5 Seconds of Summer</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
